.post {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
  }
  .ql-container {
    width: 400px !important;
  }

  h1 {
    font-size: 20px;
    max-width: 600px;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

