  <table>
    <colgroup></colgroup>
    <colgroup></colgroup>
    <colgroup width="30%"></colgroup>
    <thead>
    <tr>
      <th>#</th>
      <th>Автор</th>
      <th>Название</th>
      <th>Дата</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts | filter: searchPost; let idx = index">
      <td>{{idx}}</td>
      <td>{{post.author}}</td>
      <td>{{post.title}}</td>
      <td>{{post.date | date: 'medium'}}</td>
      <td>
        <button
          class="btn btn-link open"W
          [routerLink]="['/admin', 'post', post.id, 'edit']"
        >
          Посмотреть
        </button>
        <a (click)="removePost(post.id)">Удалить</a>
      </td>
    </tr>
    </tbody>
  </table>

